@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

$time-mercurio: 2s;
$time-venus: 2.5;
$time-tierra: 4.1;
$time-marte: 7.8;
$time-jupiter: 49.2;
$time-saturno: 122.2;
$time-urano: 348.7;
$time-neptuno: 684;

$dist-mercurio: 16%;
$dist-venus: 25%;
$dist-tierra: 37.5%;
$dist-marte: 50%;
$dist-jupiter: 62.5%;
$dist-saturno: 75%;
$dist-urano: 87.5%;
$dist-neptuno: 100%;

$real-dist-mercurio: 1.2%;
$real-dist-venus: 2.45%;
$real-dist-tierra: 3.4%;
$real-dist-marte: 5.17%;
$real-dist-jupiter: 17.6%;
$real-dist-saturno: 32.5%;
$real-dist-urano: 65.25%;
$real-dist-neptuno: 100%;

$real-diam-mercurio: 0.03;
$real-diam-venus: 0.08;
$real-diam-tierra: 0.09;
$real-diam-marte: 0.04;
$real-diam-jupiter: 1;
$real-diam-saturno: 0.83;
$real-diam-urano: 0.36;
$real-diam-neptuno: 0.35;

*{
    box-sizing: border-box;
    transition: all 1s ease-in-out;
    color: #FFF;    
    font-family: 'Quicksand', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(25, 24, 41);
    min-height: 100vh;
    width: 100%;

    section{
        width: 100%;
        height: 100%;        
        min-height: 100vh;
        overflow: hidden;
        position: relative;
        background: url("../img/estrellas.jpg") no-repeat;
        background-size: cover;

        .solar-system{
            height: 90vh;
            width: 90vh;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;

            .sol{
                width: 5vh;
                height: 5vh;
                border-radius: 50%;
                background-color: rgb(235, 191, 96);
                box-shadow: 0 0 20px 10px rgba(235, 191, 96, 0.4);
            }

            .orbita{
                position: absolute;
                width: 50%;
                height: 50%;
                border-radius: 50%;
                border: 1.5px solid rgba(255, 255, 255, 0.3);
                animation: giro $time-mercurio linear infinite;

                img{
                    position: absolute;
                    top: -.5rem;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1rem;
                    border-radius: 50%;

                    &.tierra{
                        height: 1.4rem;
                        top: -0.8rem;
                        box-shadow: 0 0 6px 2px rgba(0, 149, 255, 0.54);
                    }

                    &.saturno{
                        height: 1.6rem;
                        top: -0.8rem;
                    }

                    &.jupiter{
                        height: 2.2rem;
                        top: -1.1rem;
                    }
                }

                &.mercurio{
                    width: $dist-mercurio;
                    height: $dist-mercurio;
                }

                &.venus{
                    width: $dist-venus;
                    height: $dist-venus;
                    animation-duration: $time-venus * $time-mercurio;
                }

                &.tierra {
                    width: $dist-tierra;
                    height: $dist-tierra;
                    animation-duration: $time-tierra * $time-mercurio;
                }

                &.marte {
                    width: $dist-marte;
                    height: $dist-marte;
                    animation-duration: $time-marte * $time-mercurio;
                }

                &.jupiter {
                    width: $dist-jupiter;
                    height: $dist-jupiter;
                    animation-duration: $time-jupiter * $time-mercurio;
                }

                &.saturno {
                    width: $dist-saturno;
                    height: $dist-saturno;
                    animation-duration: $time-saturno * $time-mercurio;
                }

                &.urano {
                    width: $dist-urano;
                    height: $dist-urano;
                    animation-duration: $time-urano* $time-mercurio;
                }

                &.neptuno {
                    width: $dist-neptuno;
                    height: $dist-neptuno;
                    animation-duration: $time-neptuno * $time-mercurio;
                }
            }    

        }

        #real-scale{
            top: 10px;
            right: 10px;
            position: fixed;
            z-index: 10;
            display: none;
        }
        
        label {
            position: fixed;
            z-index: 10;
            top: 20px;
            right: 20px;
            border-radius: .5rem;
            border: 1px solid white;
            padding: 0.6rem 1.1rem;
            cursor: pointer;
            line-height: 1rem;
            transition-duration: .1s;
            
            &:hover{
                background-color: rgba(255, 255, 255, 0.15);
            }

            &:active{
                transform: scale(0.9);
            }            

            span{
                display: inline-block;
                width: 12px;
                height: 12px;
                margin-left: 5px;
                border: 1px solid rgba(255, 255, 255, 0.7);
                border-radius: 1px;
                border-radius: 0;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: 2px;
                    left: 50%;
                    transform: rotate(45deg);
                    width: 3px;
                    height: 10px;
                    border-width: 0 2px 2px 0;
                    border-color: #FFF;
                    border-style: solid;
                    opacity: 0;
                }
            }
        }

        #real-scale:checked ~ label span::before{
            opacity: 1;
        }

        #real-scale:checked ~ .solar-system {
            left: 1vw;
            width: 190vw;
            height: 190vw;

            .sol {
                position: absolute;
                left: 45%;
                transform: translateX(-50%);
                z-index: 2;
                width: 40vh;
                height: 45vh;
            }

            .orbita {
                animation: none;
                transform: rotate(90deg);
                border-width: 1px;
                border-radius: 0;
                width: 100% !important;

                img {
                    &.mercurio {
                        height: 150px * $real-diam-mercurio;
                        top: -150px * $real-diam-mercurio / 2 - 1;
                    }

                    &.venus {
                        height: 150px * $real-diam-venus;
                        top: -150px * $real-diam-venus / 2 - 1;
                    }

                    &.tierra {
                        height: 150px * $real-diam-tierra;
                        top: -150px * $real-diam-tierra / 2 - 1;
                    }

                    &.marte {
                        height: 150px * $real-diam-marte;
                        top: -150px * $real-diam-marte / 2 - 1;
                    }

                    &.jupiter {
                        height: 150px * $real-diam-jupiter;
                        top: -150px * $real-diam-jupiter / 2 - 1;
                    }

                    &.saturno {
                        height: 150px * $real-diam-saturno;
                        top: -150px * $real-diam-saturno / 2 - 1;
                    }

                    &.urano {
                        height: 150px * $real-diam-urano;
                        top: -150px * $real-diam-urano / 2 - 1;
                    }

                    &.neptuno {
                        height: 150px * $real-diam-neptuno;
                        top: -150px * $real-diam-neptuno / 2 - 1;
                    }
                }

                &.mercurio {
                    width: $real-dist-mercurio;
                    height: $real-dist-mercurio;
                }

                &.venus {
                    width: $real-dist-venus;
                    height: $real-dist-venus;
                }

                &.tierra {
                    width: $real-dist-tierra;
                    height: $real-dist-tierra;
                }

                &.marte {
                    width: $real-dist-marte;
                    height: $real-dist-marte;
                }

                &.jupiter {
                    width: $real-dist-jupiter;
                    height: $real-dist-jupiter;
                }

                &.saturno {
                    width: $real-dist-saturno;
                    height: $real-dist-saturno;
                }

                &.urano {
                    width: $real-dist-urano;
                    height: $real-dist-urano;
                }

                &.neptuno {
                    width: $real-dist-neptuno;
                    height: $real-dist-neptuno;
                }
            }
        }
    }
}

@keyframes giro{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg) ;
    }
}

@media (max-width:992px){
    body section {

        label{
            font-size: .8rem;
            padding: 5px 25px 5px 10px;
            top: 10px;
            right: 10px;
        }

        #real-scale{
            top: 15px;
            right: 15px;
        }

        .solar-system {
            height: 90vw;
            width: 90vw;
    
            .orbita img{
                top: -0.3rem;
                height: 0.5rem;     
                
                &.tierra {
                    height: .7rem;
                    top: -0.35rem;
                }
    
                &.saturno {
                    height: .8rem;
                    top: -.4rem;
                }
    
                &.jupiter {
                    height: 1.1rem;
                    top: -.55rem;
                }
            }
        }

        #real-scale:checked ~ .solar-system{
            width: 190vh;
            height: 190vh;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            top: 0;

            .sol{
                background-color: transparent;
                box-shadow: none;
            }
        }
    }    
}